[access "refs/*"]
  read = group dci-bots
  read = group dci-telco-ci
  read = group dci-core
  owner = group dci-ptl
[access "refs/heads/*"]
    label-Code-Review = -2..+2 group dci-telco-ci
    label-Code-Review = -2..+2 group dci-core
    label-Verified = -1..+1 group dci-bots
    label-Verified = -2..+2 group dci-ptl
    label-Workflow = -1..+1 group dci-telco-ci
    label-Workflow = -1..+1 group dci-core
    read = group dci-bots
    read = group dci-telco-ci
    read = group dci-core
    rebase = group dci-bots
    rebase = group dci-telco-ci
    rebase = group dci-core
    push = group dci-ptl
    submit = group dci-ptl
[access "refs/tags/*"]
    pushTag = group dci-core
    pushSignedTag = group dci-core
[access "refs/meta/config"]
    read = group dci-bots
    read = group dci-telco-ci
    read = group dci-core
[receive]
    requireChangeId = true
[submit]
    mergeContent = true
    action = merge if necessary
[project]
        description = A full-featured YAML processing framework for Python
